/* 홈페이지 */
@charset "utf-8";

#header {padding: 10px 30px; display:flex; height: 80px; line-height: 60px; width:100%;}

nav.headerItem li, nav.log li{
    float: left; margin-right: 10px; ;
}
header > h1 {float: left; margin-right: 20px; line-height: 60px;}
header > nav.itemTop {float: left; width: 80%; line-height: 60px;}
header > nav.logTop {float: right; } 
#header li {
            list-style: none;      
            line-height: 40px;   
            text-align: center;    
            float : left;
            margin-right:10px;
 }


main {overflow: hidden; padding: 20px 50px; text-align: center; padding-bottom: 100px; height:100%;}
main > div.product-card{float: left; width: 30%; margin: 0 20px;}
main > div.product-card img{ width: 100%; height: auto; }
.product-card p { text-align: left; margin: 10px 0 0; padding-bottom: 20px;}

footer {height: 300px; background-color: gray;}

@media screen and (max-width: 768px) {
    main > div.product-card {
        float: none; width: 50%; margin: 0 auto 20px;
        
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    background-color: #fff;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1600px; 
    margin: 0 auto;
}

.contain > div {
    flex: 1;
    padding: 50px; 
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    height: 500px; 
}

.contain > div:hover {
    transform: translateY(-5px);
}

.contain img {
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 10px;
}

.contain p {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

.contain .used {
    background-color: #fffbf2;
}

.contain .group {
    background-color: #f2f7ff;
}

.used img{
    padding-bottom: 100px;
}

footer p {
	padding : 10px 5px;
}

/* 
@media screen and (max-width: 640px) {
    main > div.product-card {
        float: none; width: 100%; height: auto; margin: 0 auto 20px;
        
    }
} */