<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>입찰 등록</title>
<style>
	input[type="submit"] {
            background-color: black;
            color: white;
            border: 1px solid black; 
            padding: 10px 20px; 
    }
</style>
</head>
<body>
	<form action="/bid/create" method="post" th:object="${bidDto}">
		<input type="hidden" name="item" th:field="*{item}">
	    <h4>경매 상품</h4><hr>
	    <table>
	        <tr>
	            <td>상품명</td>
	            <td th:text="*{item.itemName}"></td>
	        </tr>
	        <tr>
	            <!-- <td>남은 시간</td>  -->
	            <td>마감일</td>
				<td th:text="*{#temporals.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}">종료시간</td>
	        </tr>
	    </table>
				
		<h4>입찰하기</h4><hr>
	    <table>
	        <tr>
	            <td>현재가</td>
	            <td th:text="|*{item.currentBid}원|"></td>
	        </tr>
	        <tr>
	            <td>입찰금액</td>
	            <td>
	                <input type="number" name="amount" th:field="*{amount}" placeholder="입찰 가격을 입력하세요">
	                <span>원</span>
	            </td>
	        </tr>
	    </table>
	
		<p></p>
		
	    <input type="submit" value="입찰하기">
	</form>
</body>
</html>