<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>경매 상품 수정</title>
<style>
	table {
	    width: 650px; 
	    height: 600px;
	    border-collapse: collapse;
	    margin-left: auto;
	    margin-right: auto;
	}
	th {
	    border: 1px solid black;
	    padding: 8px; 
	    text-align: center; 
	}
	td {
		border: 1px solid black;
	    padding: 8px; 
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	h1 {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	.btn {
		text-align: center;
	}
</style>
</head>
<body>
	<h1><a href="/" style="color: #FFB0D9;">Itemrior</a></h1>
	<h2>경매 상품 수정</h2>
	<form th:action="@{/auction/update}" method="POST" th:object=${auction}>
		<input type="hidden" th:field="*{itemId}">
		<input type="hidden" th:field="*{seller}">
		<input type="hidden" th:field="*{status}">
		<input type="hidden" th:field="*{startTime}">
		<table>
	         <tr>
	             <th>제목(상품명)</th>
	             <td><input type="text" th:field="*{itemName}" placeholder="등록할 제목을 입력하세요" style="width: 400px; height: 30px;"></td>
	         </tr>
	         <tr>
	             <th>상품 정보</th>
	             <td><input type="text" th:field="*{description}" placeholder="상품 정보를 입력해주세요" style="width: 400px; height: 80px;"></td>
	         </tr>
	         <tr>
	             <th>제품 상태</th>
	             <td>
	                 <select th:field="*{condition}">
	                 	<option value="0" th:selected="*{condition eq '0'}">미사용(새상품)</option>
	                 	<option value="1" th:selected="*{condition eq '1'}">미세한 사용감</option>
	                 	<option value="2" th:selected="*{condition eq '2'}">사용감 적음</option>
	                 	<option value="3" th:selected="*{condition eq '3'}">사용감 있음</option>
	                 	<option value="4" th:selected="*{condition eq '4'}">사용감 많음</option>
	                 </select>
	             </td>
	         </tr>
	         <tr>
	             <th>등록 가격</th>
	             <td>
	                 <input type="number" th:field="*{startPrice}" placeholder="등록 가격을 입력하세요" min="0" style="width: 160px;">
	                 <span>원</span>
	             </td>
	         </tr>
	         <tr>
	             <th>카테고리</th>
	             <td>
	                 <select name="category">
	                 	<option th:each="cat : ${category}" th:value="${cat.catId}" th:utext="${cat.catName}" th:selected="${cat.catId == auction.category.catId}"></option>
	                 </select>
	             </td>
	         </tr>
	         <tr>
	             <th>연락 수단</th>
	             <td><input type="text" th:field="*{contactType}" placeholder="카카오톡 아이디, 전화번호 등 연락할 수단을 입력해주세요" style="width: 400px; height: 30px;"></td>
	         </tr>
	        <tr>
	        	<th>마감일</th>
	            <td><input type="datetime-local" th:field="*{endTime}"></td>
	        </tr>
	         <tr>
	             <td colspan="2" class="btn"><input type="submit" value="수정하기"></td>
	         </tr>
		</table>
	</form>
</body>
</html>