<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>중고거래 상품 수정</title>
<style>
	table {
	    width: 1000px; 
	    height: 800px;
	    border-collapse: collapse;
	    margin-left: auto;
	    margin-right: auto;
	}
	th, td {
	    border: 1px solid black;
	    padding: 8px; 
	    text-align: center; 
	}
	.imgSize {
	    padding: 70px 0;
	}
</style>
</head>
<body>
	<form th:action="@{/groupPurchase/update}" method="POST" th:object=${groupPurchase}>
		<input type="hidden" th:field="*{itemId}">
		<input type="hidden" th:field="*{seller}">
		<input type="hidden" th:field="*{status}">
		<input type="hidden" th:field="*{startTime}">
		<table>
	         <tr>
	             <td>제목(상품명)</td>
	             <td><input type="text" th:field="*{itemName}" placeholder="수정할 제목을 입력하세요"></td>
	         </tr>
	         <tr>
	             <td>상품 정보</td>
	             <td><input type="text" th:field="*{description}" placeholder="상품 정보를 입력해주세요"></td>
	         </tr>
	         <tr>
	             <td>등록가격</td>
	             <td>
	                 <input type="number" th:field="*{originalPrice}" placeholder="등록 가격을 입력하세요" min="0">
	                 <span>원</span>
	             </td>
	         </tr>
	         <tr>
	             <td>할인율</td>
	             <td>
	                 <input type="number" th:field="*{discRate}" placeholder="할인율을 입력하세요" min="0" step="1.0">
	                 <span>%</span>
	             </td>
	         </tr>
	         <tr>
	             <td>최소수량</td>
	             <td>
	                 <input type="number" th:field="*{minQuantity}" placeholder="목표 수량을 입력하세요" min="0">
	                 <span>원</span>
	             </td>
	         </tr>
	         <tr>
	             <td>카테고리</td>
	             <td>
	                 <select name="category">
	                 	<option th:each="cat : ${category}" th:value="${cat.catId}" th:utext="${cat.catName}" th:selected="${cat.catId == groupPurchase.category.catId}"></option>
	                 </select>
	             </td>
	         </tr>
	         <tr>
	        	<td>마감일</td>
	            <td><input type="datetime-local" th:field="*{endTime}"></td>
	        </tr>
	        <tr>
	         <tr>
	             <td colspan="2"><input type="submit" value="수정하기"></td>
	         </tr>
		</table>
	</form>
</body>
</html>