<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>중고거래 상품 수정</title>
<style>
	table {
	    width: 650px; 
	    height: 600px;
	    border-collapse: collapse;
	    margin-left: auto;
	    margin-right: auto;
	}
	th {
	    border: 1px solid black;
	    padding: 8px; 
	    text-align: center; 
	}
	td {
		border: 1px solid black;
	    padding: 8px; 
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	h1 {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	.btn {
		text-align: center;
	}
</style>
</head>
<body>
	<h1><a href="/" style="color: #FFB0D9;">Itemrior</a></h1>
	<h2>공동구매 상품 수정</h2>
	<form th:action="@{/groupPurchase/update}" method="POST" th:object=${groupPurchase}>
		<input type="hidden" th:field="*{itemId}">
		<input type="hidden" th:field="*{seller}">
		<input type="hidden" th:field="*{status}">
		<input type="hidden" th:field="*{startTime}">
		<table>
	         <tr>
	             <th>제목(상품명)</th>
	             <td><input type="text" th:field="*{itemName}" placeholder="수정할 제목을 입력하세요" style="width: 400px; height: 30px;"></td>
	         </tr>
	         <tr>
	             <th>상품 정보</th>
	             <td><input type="text" th:field="*{description}" placeholder="상품 정보를 입력해주세요" style="width: 400px; height: 80px;"></td>
	         </tr>
	         <tr>
	             <th>등록가격</th>
	             <td>
	                 <input type="number" th:field="*{originalPrice}" placeholder="등록 가격을 입력하세요" min="0" style="width: 160px;">
	                 <span>원</span>
	             </td>
	         </tr>
	         <tr>
	             <th>할인율</th>
	             <td>
	                 <input type="number" th:field="*{discRate}" placeholder="할인율을 입력하세요" min="0" step="1.0" style="width: 50px;">
	                 <span>%</span>
	             </td>
	         </tr>
	         <tr>
	             <th>최소수량</th>
	             <td>
	                 <input type="number" th:field="*{minQuantity}" placeholder="목표 수량을 입력하세요" min="0" style="width: 50px;">
	                 <span>원</span>
	             </td>
	         </tr>
	         <tr>
	             <th>카테고리</th>
	             <td>
	                 <select name="category">
	                 	<option th:each="cat : ${category}" th:value="${cat.catId}" th:utext="${cat.catName}" th:selected="${cat.catId == groupPurchase.category.catId}"></option>
	                 </select>
	             </td>
	         </tr>
	         <tr>
	        	<th>마감일</th>
	            <td><input type="datetime-local" th:field="*{endTime}"></td>
	        </tr>
	        <tr>
	         <tr>
	             <td colspan="2" class="btn"><input type="submit" value="수정하기"></td>
	         </tr>
		</table>
	</form>
</body>
</html>