<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>중고거래 상품 목록</title>
<style>
	h2 {
		text-align: center;
	}
	.imgSize {
		width: 180px;
		height: 180px;
		padding-right: 35px;
	}
	table {
		width: 1000px;
		border-collapse: collapse;
	    margin-left: auto;
	    margin-right: auto;
	}
	td {
		border: none;
		padding: 30px;
	}
	tr {
		border-bottom: 1px solid black;
	}
	th {
        font-size: 20px;
        text-align: center;
    }
    form {
    	
    }
</style>
</head>
<body>
	<h2>중고거래 상품 목록</h2>
	<form th:action="@{/usedGoods/search}" method="get">
        <input type="text" name="query" placeholder="상품명 검색">
        <button type="submit">검색</button>
    </form>
	<table>
		<tr>
			<th>이미지</th>
			<th>상품명</th>
			<th>판매현황</th>
			<th>가격</th>
		</tr>
		<tr th:each="ug: ${ugList}">
			<td><img th:src="@{${ug.getFilePath()}}" alt="상품사진" class="imgSize"></td>
			<td><a th:href="@{/usedGoods/view/{itemId} (itemId=${ug.itemId})}" th:text="${ug.itemName}">상품명</a></td>
			<td th:if="${#strings.equals(ug.status, 'Available')}" th:text="판매중"></td>
			<td th:if="${#strings.equals(ug.status, 'Complete')}" th:text="판매완료"></td>
			<td th:text="|${ug.price}원|">현재가</td>
		</tr>
	</table>
</body>
</html>